body {
  background-color: #1b1d21;
  font-family: 'Dosis', sans-serif;
  font-variant: small-caps;
  height: 100vh;
  margin: 0;
}

.welcome-title {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
}

h1 {
  color: whitesmoke;
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
}
